<% @recipes.each do |recipe| %>
  <div class="col-md-4">
    <div class="recipe">
    <%= link_to image_tag(recipe.cover_photo,
      class: "img-responsive img-rounded center-block", size: "250x150"), recipe_path(recipe) %>
      <div class="bottom-left">
        <ul class="list-inline">
          <li><i class="fa fa-bolt"></i><%= recipe.difficult_level %></li>
          <li><i class="fa fa-clock-o"></i><%= recipe.ready_in %></li>
          <li><i class="fa fa-eye"></i> 2</li>
        </ul>
      </div>
    </div>
    <div class="text-center">
      <%= link_to recipe.name, recipe_path(recipe), class: "small" %>
      <p>
        <%= t "static_pages.home.recipe_by" %>
        <%= link_to recipe.user.name, user_path(recipe.user), class: "small" %>
      </p>
    </div>
  </div>
<% end %>
