<div class="container-fluid">
  <!-- START JUMBOTRON -->
  <div class="jumbotron" id="main-jumbotron">
    <h1><%= t ".today" %></h1>
    <%= form_for :reci, url: search_path, html: {class: "navbar-form"}, method: :get do |form| %>
      <div class="">
        <%= text_field_tag :reci, params[:reci], class: "form-control" %>
        <%= submit_tag "Search", name: nil, class: "glyphicon glyphicon-search" %>
      </div>
    <% end %>
    <p><%= t ".description" %></p>
  </div>
  <!-- END JUMBOTRON -->
  <!-- START CATEGORIES -->
  <div class="row">
    <%= render "category" %>
  </div>
  <!-- END CATEGORIES -->
  <hr>
  <div class="row">
    <!-- START RECIPES -->
    <div class="col-md-9">
      <h1><%= t ".trending" %></h1>
      <div class="row">
        <%= render "recipe" %>
      </div>
    </div>
    <!-- END RECIPES -->
    <!-- START TOP MEMBER -->
    <div class="col-md-3">
      <h1><%= t ".top_member" %></h1>
      <div class="row">
        <div class="col-md-3">
          <img src="http://via.placeholder.com/50x50" class="img-responsive img-circle">
        </div>
        <div class="col-md-9">
          <p>
            <b>Chị Nguyệt</b>
          </p>
          <p>12 <%= t ".recipe" %> <span>|</span> 30 <%= t ".followers" %></p>
        </div>
      </div>
    </div>
    <!-- END TOP MEMBER -->
  </div>
</div>
