<div><%= recipe.id %></div>
<div>
  <div>Name</div>
  <%= recipe.name %>
</div>
<div>
  <div>Picture</div>
  <%= image_tag recipe.cover_photo.url if recipe.cover_photo? %>
</div>

<div>
  <div>Desciption</div>
  <%= recipe.description %>
</div>
<div>
  <div>Steps</div>
  <% recipe.steps.each do |step| %>
    <%= step.content %>
  <% end %>
</div>
<div>
  <div>Ingredients</div>
  <% recipe.recipe_ingredients.each do |ing| %>
    <div>
      <span><%= ing.name %> <%= ing.amount %> <%= ing.measurement %></span>
    </div>
  <% end %>
</div>
