<div class = "ingredient">
  <%= f.label :name, class: "field-label" %>
  <%= f.text_field :name, class: "form-control" %>
  <br>
  <%= f.label :amount, class: "field-label" %>
  <%= f.text_field :amount, class: "form-control", type: "number" %>
  <br>
  <%= f.label :measurement, class: "field-label" %>
  <%= f.text_field :measurement, class: "form-control" %>
  <br>
  <%= f.hidden_field :_destroy, as: :hidden %>
  <%= link_to t("recipes.show.delete"), "#",
    class: "remove_ingredient_record btn btn-danger" %>
</div>
