<div class= "step">
  <div class="row">
    <div class="col-md-1">
      <p><b id="step-num-1"></b></p>
    </div>
    <div class="col-md-11">
      <%= f.label :content, t(".content") %>
      <%= f.text_field :content, class: "form-control" %>
      <%= f.label :photo %>
      <%= f.file_field :photos,multiple: true,
        accept: "image/jpeg,image/gif,image/png,image/jpg" %>
      <br>
      <%= f.hidden_field :_destroy, as: :hidden %>
      <%= link_to t("recipes.show.delete"), "#", class: "remove_record" %>
    </div>
  </div>
</div>


