<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @recipe, html: {multipart: true} do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :name, t(".name"), class: "field-label" %>
      <%= f.text_field :name, class: "form-control field-input" %>

      <%= f.label :cover_photo %>
      <%= f.file_field :cover_photo,
        accept: "image/jpeg,image/gif,image/png,image/jpg" %>
      <br>

      <%= f.label :description, t(".description"), class: "field-label" %>
      <%= f.text_area :description, class: "form-control field-input" %>

      <%= f.label :purpose, t(".purpose"), class: "field-label" %>
      <%= f.text_area :purpose, class: "form-control field-input" %>

      <%= f.label :ready_in, t(".ready_in"), class: "field-label" %>
      <%= f.text_field :ready_in, class: "form-control field-input", type: "number" %>

      <%= f.label :difficult_level, t(".difficult_level"), class: "field-label" %>
      <%= f.select(:difficult_level,
        options_for_select([["Dễ", "Dễ"], ["Trung bình", "Trung bình"],
        ["Khó", "Khó"]]),{}, class: "form-control") %>
      <br>

      <%= f.label :people_num, t(".people_num"), class: "field-label" %>
      <%= f.text_field :people_num, class: "form-control field-input", type: "number" %>

      <h3><%= t ".ingredients" %></h3>
      <div class = "ingredient_fields">
        <%= f.fields_for :recipe_ingredients, html: {multipart: true} do |builder| %>
          <%= render "recipe_ingredient", f: builder %>
        <% end %>
      </div>
      <%= link_to_add_ingredient(t(".add_ingredient"), f, :recipe_ingredients,
        class: "btn btn-default")%>

      <h3><%= t ".steps" %></h3>
      <div class = "step_fields">
        <%= f.fields_for :steps, html: {multipart: true} do |builder| %>
          <%= render "step", f: builder %>
        <% end %>

      </div>
      <%= link_to_add_step(t(".add_step"), f, :steps, class: "btn btn-default")%>
      <%= f.submit t(".submit"), class: "btn btn-primary submit-button" %>
    <% end %>
  </div>
</div>
