<div class="row">
<h1><%= t ".top20" %></h1>
  <% @users.each do |user| %>
    <div class="col-md-2">
      <div class="well text-center">
        <% if user.avatar.url %>
          <%= link_to image_tag(user.avatar.to_s, class: "img-responsive img-circle
            center-block avatar-show", size: "250x150"), user_path(user) %>
        <% else %>
          <%= link_to image_tag("default_avatar.png", class: "img-responsive
            img-circle center-block ", size: "#{Settings.img_size_fill}x#{Settings.img_size_fill}"), user_path(user) %>
        <% end %>
        <h5><%= link_to user.name, user_path(user) %></h5>
        <p><i class="fa fa-users fa-2x"></i><%= user.followers.count %><%= t ".follower" %></p>
        <% if logged_in? %>
          <%= render "follow_form", user: user %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
