<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <b><%= t ".statistics" %></b>
        <div class="row">
          <div class="col-md-6">
            <p><b>1000</b> <%= t ".recipe" %></p>
          </div>
          <div class="col-md-6">
            <p><b>12</b> <%= t ".members" %></p>
          </div>
        </div>
        <div class="row">
          <ul class="list-unstyled list-inline">
            <li><%= link_to "English", locale:"en" %></li>
            <li><%= link_to "Tiếng Việt", locale:"vi" %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <b><%= t ".about" %></b>
        <div class="row">
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-angle-right"></i>
                <a href="#"><%= t ".signup" %></a>
              </li>
              <li>
                <i class="fa fa-angle-right"></i>
                <a href="#"><%= t ".feedback" %></a>
              </li>
              <li>
                <i class="fa fa-angle-right"></i>
                <a href="#"><%= t ".contact" %></a>
              </li>

            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-angle-right"></i>
                <a href="#"><%= t ".about" %></a>
              </li>
              <li>
                <i class="fa fa-angle-right"></i>
                <a href="#"><%= t ".forgot_password" %></a>
              </li>
              <li>
                <i class="fa fa-angle-right"></i>
                <a href="#"><%= t ".report" %></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <b><%= t ".available" %></b>
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-facebook-square fa-5x"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-messenger fa-5x"></i></a></li>
          <li><a href="https://github.com/framgia/rails_recipes_sharing_01">
            <i class="fa fa-github fa-5x"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
