<!-- START NAVBAR -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav-pills">
        <a href="#" class="navbar-left">
          <img src="https://bit.ly/2mRfHva" class = "img-responsive">
        </a>
        <li>
          <a href="#" class="active">
            <i class="fa fa-home"></i> <%= t ".home" %></a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-cutlery"></i> <%= t ".recipe" %></a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-users"></i> <%= t ".top_member" %></a>
        </li>
      </ul>

      <!-- NAVBAR RIGHT -->
      <ul class="nav navbar-nav navbar-right">
        <a href="#" class="btn btn-default navbar-btn">
          <i class="fa fa-plus-square"></i> <%= t ".create_recipe" %></a>
        <a href="#" class="btn btn-default navbar-btn">
          <i class="fa fa-sign-out"></i> <%= t ".logout" %></a>
        <a href="#" class="btn btn-default navbar-btn">
          <i class="fa fa-sign-in"></i> <%= t ".login" %></a>
        <%= link_to signup_path, class: "btn btn-default navbar-btn" do %>
          <i class="fa fa-address-book"></i> <%= t ".signup" %>
        <% end %>
        <!-- END NAVBAR RIGHT -->
      </ul>
    </div>
  </div>
</nav>
  <!-- END NAVBAR -->
