<!-- START NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav-pills">
        <%= link_to image_tag("https://www.cooky.vn/Content/img/Cooky-Slogan-Official-Design.80.png"),
        root_path, class: "navbar-left img-responsive" %>

        <li><%= link_to root_path do %>
          <i class="fa fa-home"></i>
          <span><%= t ".home" %></span>
        <% end %>
        </li>

        <li><%= link_to new_recipe_path do %>
          <i class="fa fa-cutlery"></i>
          <span><%= t ".recipe" %></span>
        <% end %>
        </li>

        <li><%= link_to "#" do %>
          <i class="fa fa-users"></i>
          <span><%= t ".top_member" %></span>
        <% end %>
        </li>
      </ul>

      <!-- NAVBAR RIGHT -->
      <ul class="nav navbar-nav navbar-right">
        <a href="/recipes/new" class="btn btn-default navbar-btn">
          <i class="fa fa-plus-square"></i> <%= t ".create_recipe" %></a>
        <a href="#" class="btn btn-default navbar-btn">
          <i class="fa fa-sign-out"></i> <%= t ".logout" %></a>
        <a href="#" class="btn btn-default navbar-btn">
          <i class="fa fa-sign-in"></i> <%= t ".login" %></a>
        <a href="#" class="btn btn-default navbar-btn">
          <i class="fa fa-address-book"></i> <%= t ".signup" %></a>
        <!-- END NAVBAR RIGHT -->
      </ul>
    </div>
  </div>
</nav>
  <!-- END NAVBAR -->
